.allTickets-container {
  max-width: 95%;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.05);
  font-family: 'Segoe UI', sans-serif;
}


.allTickets-container h2 {
  text-align: center;
  color: #2f3542;
  margin-bottom: 20px;
}

.tabla-allTickets{
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.tabla-allTickets thead {
  background-color: #f1f2f6;
}

.tabla-allTickets th, .tabla-allTickets td {
  padding: 12px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabla-allTickets tr:hover {
  background-color: #f8f9fa;
}

.tabla-allTickets td:last-child {
  text-transform: capitalize;
  font-weight: 500;
  color: #000000;
}
.tabla-allTickets td:first-child {
  font-weight: bold;
  color: #2d3436;
}