.tabla-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.tabla-usuarios th,
.tabla-usuarios td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.tabla-usuarios thead {
  background-color: #3f5596;
  color: #fdfafa;
}

.fila-admin {
  background-color: #d4f9d4; /* verde claro */
}

.fila-normal {
  background-color: #f9d4d4; /* rojo claro */
}
