.navbar {
    width: 100%;
    height: 70px;
    background: linear-gradient(90deg, #74c0fc, #4dabf7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .Logo img {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }

  .Logo h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }

  .links {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
  
  .links a {
    text-decoration: none;
    color: rgb(249, 250, 251);
    margin-left: 20px;
    font-size: 25px;
  }

